##Задача 1
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [14]:
def sum_fruits(**fruits):
  sum_fruits = 0
  for fruit in fruits:
    sum_fruits += fruits[fruit]
  return sum_fruits

fruits = {
    'banana': 10,
    'apple': 5,
    'orange': 7
    }

sum_fruits(**fruits)

22

##Задача 2
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
Используйте list comprehensions

In [25]:
price = [100, 125, -90, 345, 655, -1, 0, 200]

new_price = [i for i in price if i >= 0]
print(new_price)
total = 0
for j in new_price:
  total += j
print(total)

[100, 125, 345, 655, 0, 200]
1425

##Задача 3
Даны два списка: <br>
Дата покупки <br>
Суммы покупок по датам
###4.1.
Найдите, какая выручка у компании в ноябре Используйте list comprehensions

In [60]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
value = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

print(sum([v for d, v in zip(date, value) if d[5:7] == "11"]))

25098

###4.2
Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [61]:
def sum_in_month(date: list, value: list) -> dict:
  res = {}
  for d, v in zip(date, value):
    if d[5:7] in res.keys():
      res[d[5:7]] += v
    else:
      res[d[5:7]] = v
  return res

print(sum_in_month(date, value))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}