In [2]:
import pandas as pd

##Условие 1:
###Задача 1
Считать данные с помощью pandas
Вывести на экран первые 5 строк

In [3]:
df = pd.read_csv('/content/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома
Если реновации дома не было, то в новом признаке поставьте 0

In [4]:
df['delta_renovated'] = 0

In [9]:
df.loc[df['yr_renovated'] != 0, 'delta_renovated'] = df['yr_renovated'] - df['yr_built']
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639,40
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062,0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000,0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503,0

1.3 Создайте признаки года продажи, месяца продажи

In [12]:
df['deal_year'] = df['date'].apply(lambda x: x [0:4])
df['deal_month'] = df['date'].apply(lambda x: x [4:6])
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,deal_year,deal_month
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1955,0,98178,47.5112,-122.257,1340,5650,0,2014,10
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,1951,1991,98125,47.7210,-122.319,1690,7639,40,2014,12
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,1933,0,98028,47.7379,-122.233,2720,8062,0,2015,02
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1965,0,98136,47.5208,-122.393,1360,5000,0,2014,12
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1987,0,98074,47.6168,-122.045,1800,7503,0,2015,02

1.4 Удалите признаки date, zipcode, lat, long

In [13]:
df.drop(columns=['date', 'zipcode', 'lat', 'long'], inplace=True)
df.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,deal_year,deal_month
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180.0,0,1955,0,1340,5650,0,2014,10
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170.0,400,1951,1991,1690,7639,40,2014,12
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770.0,0,1933,0,2720,8062,0,2015,02
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050.0,910,1965,0,1360,5000,0,2014,12
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680.0,0,1987,0,1800,7503,0,2015,02

##Условие 2:
###2 задача
Создайте датафрейм с клиентами:

In [14]:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})

2.1 Присоедините к таблице clients данные по домам через метод join

In [27]:
clients_id = clients.set_index('house_id')
houses_id = df.set_index('id')
clients_houses = clients_id.join(houses_id)
clients_houses.head()

,client_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,deal_year,deal_month
339600110,4809,395000.0,3,2.50,1610,3755,2.0,0,0,3,7,1610.0,0,1987,0,1300,3823,0,2014,09
809001400,3113,925000.0,3,1.00,1630,3200,1.5,0,0,4,8,1630.0,0,1912,0,1710,3600,0,2014,09
825069097,1764,770000.0,3,2.50,2650,40705,2.0,0,0,3,9,2650.0,0,1994,0,2550,42625,0,2014,06
1099600250,2242,260000.0,3,1.75,1710,6400,1.0,0,0,4,7,1240.0,470,1976,0,1600,6400,0,2014,12
1189000207,2308,387000.0,2,2.50,1170,1394,2.0,0,0,3,8,1170.0,0,2001,0,1250,3136,0,2014,10

2.2 Присоедините к таблице clients данные по домам через метод merge
Это нужно, чтобы понимать, какие дома покупались клиентами
house_id - это индексы датафрейма с домами

In [29]:
merged = clients.merge(df, left_on='house_id', right_on='id')
merged.head()

,client_id,house_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,deal_year,deal_month
0,1459,8965450190,8965450190,295000.0,3,2.50,1500,3060,2.0,0,...,7,1500.0,0,1994,0,2700,7734,0,2015,02
1,4684,6823100225,6823100225,700000.0,4,1.75,1870,6000,1.0,0,...,8,1670.0,200,1949,0,1710,6000,0,2015,04
2,3498,5104540330,5104540330,679000.0,4,2.50,3680,7236,2.0,0,...,10,3680.0,0,2006,0,3310,7180,0,2015,05
3,3942,2131701075,2131701075,420000.0,3,1.75,1720,5000,1.5,0,...,8,1720.0,0,1932,2009,1410,8300,77,2014,12
4,4535,1522700060,1522700060,518000.0,4,2.75,2520,14021,2.0,0,...,9,2520.0,0,1999,0,2330,14007,0,2014,06

##Условие 3:
###3 задача
Составьте несколько сводных таблиц
3.1 Найдите среднюю стоимость домов в зависимости от количества спален
Отсортируйте от меньшей стоимости к большей

In [36]:
df.groupby('bedrooms').agg({'price':'mean'}).sort_values('price')

                 price
bedrooms
1         3.176429e+05
2         4.013727e+05
0         4.095038e+05
3         4.662321e+05
11        5.200000e+05
4         6.354195e+05
33        6.400000e+05
5         7.865998e+05
10        8.193333e+05
6         8.255206e+05
9         8.939998e+05
7         9.511847e+05
8         1.105077e+06

3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

In [38]:
df.groupby('condition').agg({'price':['min', 'mean', 'max']})

              price
                min           mean        max
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0
5          110000.0  612418.089359  3650000.0

3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [52]:
df['count'] = 1
df.groupby(['waterfront', 'view']).agg({'count':'sum'})

                 count
waterfront view
0          0     19489
           1       331
           2       955
           3       491
           4       184
1          1         1
           2         8
           3        19
           4       135

3.4 Каких домов в зависимости от этажности и количества спален больше?

In [61]:
df.groupby(['floors', 'bedrooms']).agg({'count':'sum'})

                 count
floors bedrooms
1.0    0             4
       1           162
       2          1951
       3          5455
       4          2383
       5           605
       6           104
       7             9
       8             5
       10            1
       33            1
1.5    1            21
       2           182
       3           786
       4           698
       5           185
       6            30
       7             7
       8             1
2.0    0             6
       1            12
       2           497
       3          3118
       4          3682
       5           775
       6           119
       7            19
       8             6
       9             4
       10            2
       11            1
2.5    1             1
       2             5
       3            56
       4            58
       5            23
       6            14
       7             2
       9             2
3.0    0             2
       1             3
       2           123
       3           405
       4            61
       5            13
       6             5
       7             1
3.5    0             1
       2             2
       3             4
       8             1

In [68]:
df.groupby(['floors', 'bedrooms']).agg({'count':'sum'}).max()

count    5455
dtype: int64

Больше всего 1-этажных домов с 3 спальнями.

3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [69]:
df.groupby(['condition', 'grade']).agg({'price':'median'})

                     price
condition grade
1         1       142000.0
          4       150000.0
          5       190000.0
          6       255000.0
          7       403500.0
          8       932500.0
2         3       280000.0
          4       145000.0
          5       180000.0
          6       235000.0
          7       305000.0
          8       429000.0
          9       715000.0
          10     1752500.0
3         3        75000.0
          4       205000.0
          5       234475.0
          6       265000.0
          7       357500.0
          8       485000.0
          9       689000.0
          10      890000.0
          11     1209500.0
          12     1807500.0
          13     2888000.0
4         4       238525.0
          5       229975.0
          6       295000.0
          7       390000.0
          8       571250.0
          9       823500.0
          10     1030000.0
          11     1685000.0
          12     2125000.0
          13     5750000.0
5         3       262000.0
          5       227450.0
          6       285475.0
          7       456000.0
          8       696000.0
          9      1078000.0
          10     1650000.0
          11     2050000.0
          12     1990000.0